body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}



#playButton{
  height: 25px;
  width: 25px;
  margin: 10px;
}

.uibar{
  text-align:center;
}

.Previous{
  margin: 10px;
}

.Next{

  margin: 10px;
}

.PlayPause{
margin: 10px;
}

i {
  cursor: pointer;
}